.navigation-links4-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links4-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links4-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links4-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links4-text4 {
  margin-left: var(--dl-space-space-twounits);
}






























@media(max-width: 767px) {
  .navigation-links4-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links4-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card1-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card1-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card1-text2 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}

.blog-post-card1-root-class-name1 {
  margin-right: var(--dl-space-space-fiveunits);
}

.blog-post-card1-root-class-name3 {
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
}

.blog-post-card1-root-class-name5 {
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.blog-post-card1-root-class-name6 {
  margin-left: var(--dl-space-space-fiveunits);
}
.blog-post-card1-root-class-name7 {
  margin-right: var(--dl-space-space-fiveunits);
}
.blog-post-card1-root-class-name8 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name9 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fourunits);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name10 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name11 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name12 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name13 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name14 {
  height: var(--dl-size-size-xxlarge);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name15 {
  height: var(--dl-size-size-xxlarge);
  margin-right: var(--dl-space-space-halfunit);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(160, 227, 180) 100.00%);
}
.blog-post-card1-root-class-name16 {
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
}

.blog-post-card1-root-class-name18 {
  margin-right: var(--dl-space-space-fiveunits);
}
.blog-post-card1-root-class-name19 {
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  background-color: #cbdcec;
}
.blog-post-card1-root-class-name20 {
  background-color: #cbdcec;
}
.blog-post-card1-root-class-name21 {
  margin-right: var(--dl-space-space-fiveunits);
  background-color: #cbdcec;
}
.blog-post-card1-root-class-name22 {
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: #cbdcec;
}
.blog-post-card1-root-class-name23 {
  margin-left: var(--dl-space-space-threeunits);
  background-color: #cbdcec;
}
.blog-post-card1-root-class-name24 {
  margin-right: var(--dl-space-space-fiveunits);
  background-color: #cbdcec;
}
@media(max-width: 1600px) {
  .blog-post-card1-root-class-name1 {
    margin: var(--dl-space-space-fiveunits);
  }
  .blog-post-card1-root-class-name3 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name5 {
    margin-top: var(--dl-space-space-sixunits);
    margin-left: var(--dl-space-space-sixunits);
    margin-right: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .blog-post-card1-root-class-name6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-fourunits);
  }
  .blog-post-card1-root-class-name7 {
    margin: var(--dl-space-space-fiveunits);
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name8 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
    background-color: #fffefe;
  }
  .blog-post-card1-root-class-name10 {
    margin: var(--dl-space-space-halfunit);
  }
  .blog-post-card1-root-class-name11 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name12 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name13 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name15 {
    margin: var(--dl-space-space-fiveunits);
  }
  .blog-post-card1-root-class-name16 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name18 {
    margin: var(--dl-space-space-fiveunits);
  }
  .blog-post-card1-root-class-name19 {
    flex: 1;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card1-root-class-name21 {
    margin: var(--dl-space-space-fiveunits);
  }
  .blog-post-card1-root-class-name22 {
    margin-top: var(--dl-space-space-sixunits);
    margin-left: var(--dl-space-space-sixunits);
    margin-right: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .blog-post-card1-root-class-name23 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-fourunits);
  }
  .blog-post-card1-root-class-name24 {
    margin: var(--dl-space-space-fiveunits);
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}

.study-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.study-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #6dd4b0;
}
.study-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.study-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #6dd4b0;
}
.study-login1 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #6dd4b0;
}
.study-login2 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #6dd4b0;
}
.study-login3 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #6dd4b0;
}
.study-burger-menu {
  display: none;
}
.study-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.study-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.study-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.study-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.study-image {
  height: 2rem;
}
.study-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.study-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.study-features {
  width: 100%;
  height: 148px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.study-text01 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.study-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.study-container02 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.study-component {
  text-decoration: none;
}
.study-container03 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.study-container04 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.study-blog1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.study-container05 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.study-container06 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.study-container07 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.study-footer {
  width: 100%;
  height: 253px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: 11px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.study-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.study-container09 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.study-text03 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.study-icon-group {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.study-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.study-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.study-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.study-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.study-container10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.study-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.study-text07 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.study-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.study-text12 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.study-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-container13 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.study-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.study-text17 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.study-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.study-text21 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.study-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.study-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .study-header {
    width: 1449px;
    background-color: #48e79f;
  }
  .study-login {
    background-color: #48e79f;
  }
  .study-login1 {
    background-color: #48e79f;
  }
  .study-login2 {
    background-color: #48e79f;
  }
  .study-login3 {
    background-color: #48e79f;
  }
  .study-features {
    height: 142px;
  }
  .study-text01 {
    font-size: 3rem;
  }
  .study-blog {
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .study-blog1 {
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .study-container07 {
    margin-right: var(--dl-space-space-fiveunits);
  }
  .study-footer {
    height: 262px;
    margin-top: var(--dl-space-space-fiveunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .study-links-container {
    margin-right: var(--dl-space-space-fiveunits);
  }
  .study-container13 {
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 1200px) {
  .study-header {
    width: 100%;
    background-color: #48e79f;
  }
  .study-login {
    background-color: #48e79f;
  }
  .study-login1 {
    background-color: #48e79f;
  }
  .study-login2 {
    background-color: #48e79f;
  }
  .study-login3 {
    background-color: #48e79f;
  }
}
@media(max-width: 991px) {
  .study-header {
    background-color: #48e79f;
  }
  .study-login {
    background-color: rgb(72, 231, 159);
  }
  .study-login1 {
    background-color: rgb(72, 231, 159);
  }
  .study-login2 {
    background-color: #48e79f;
  }
  .study-login3 {
    background-color: #48e79f;
  }
  .study-text01 {
    align-self: center;
  }
  .study-blog {
    flex-direction: column;
  }
  .study-container02 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .study-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .study-blog1 {
    flex-direction: column;
  }
  .study-container05 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .study-container06 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .study-footer {
    flex-direction: column;
  }
  .study-container09 {
    align-items: center;
  }
  .study-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .study-container10 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .study-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .study-btn-group {
    display: none;
  }
  .study-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .study-mobile-menu {
    display: none;
    padding-bottom: 674px;
  }
  .study-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .study-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .study-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .study-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .study-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .study-container10 {
    width: 100%;
    justify-content: space-between;
  }
  .study-container12 {
    margin-right: 0px;
  }
  .study-container13 {
    margin-top: var(--dl-space-space-twounits);
  }
  .study-container14 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .study-header {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .study-mobile-menu {
    display: none;
    padding: 16px;
    padding-left: 18px;
    padding-bottom: 722px;
  }
  .study-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .study-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .study-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .study-container06 {
    width: 346px;
  }
  .study-container07 {
    width: 366px;
    height: 363px;
  }
  .study-footer {
    padding: var(--dl-space-space-unit);
  }
  .study-links-container {
    align-items: flex-start;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
  }
  .study-container10 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .study-container11 {
    margin-right: var(--dl-space-space-unit);
  }
  .study-container12 {
    align-self: stretch;
  }
}
